/*

CONTENTS
--------

1.	DEFAULT BASE
2.	DEFAULT LAYOUT
3.	DEFAULT MODULES
4.	WIDE BASE
5.	WIDE LAYOUT
6.	WIDE MODULES
7.  PURE FORM STYLES

*/


/*
1.	DEFAULT BASE
----------------
*/

@media screen, projection {﻿


	body,
	main,
	ul,
	ol,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	fieldset,
	dd,
	figure,
	figcaption {
		margin:  0;
		padding: 0;
	}

	article,
	aside,
	dialog,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	nav,
	section,
	main {
		display: block;
	}

	html {
		border-top: 0.35em solid #642D91;
	}

	body {
		background-color: #FFF;
		color: #333;
		font-family: 'Source Sans Pro', calibri, sans-serif;
		font-size: 106.75%;
		line-height: 1.4;
		margin: 0 auto;
		padding: 0 1.4em;
		max-width: 48em;
	}

	a {
		text-decoration: none;
	}

	a:link {
		color: #006BC4;
		border-bottom: 1px solid #EFEFEF;
	}

	a:visited {
		color: #2A9EFC;
		border-bottom: 1px solid #EFEFEF;
	}

	a:hover,
	a:active,
	a:focus {
		color: #006BC4;
		border-bottom: 1px solid;
	}

		a img {
			border: none;
			text-decoration: none;
		}

	img {
		max-width: 100% !important;
		height: auto !important;
	}


/*
2.	DEFAULT LAYOUT
------------------
*/

	.site-header {
		padding: 0.7em 0 0.35em 0;
	}

		.site-header h1 {
			margin-bottom: 0.7em;
			font-size: 1em;
		}

		.site-header ul {
			margin-bottom: 0.7em;
		}

	#content {
		margin-bottom: 1.4em;
	}

	.g-w-split3 h2 {
		font-size: 1em;
		line-height: 1em;
		padding: 0.7em 0 0.35em 0;
		font-weight: normal;
		color: #888;
		font-size: 0.83333em;
	}

	.site-footer {
		clear: both;
		padding: 1.4em 0.7em;
		background-color: #333;
		color: #FFF;
	}

		.site-footer .wrapper {
			background-color: #333;
			color: #FFF;
		}

	.top-note {
		background-color: #333;
		color: #FFF;
		padding: 0.35em 0.7em;
		text-align: center;
		margin-bottom: 0.7em;
	}


/*
3.	DEFAULT MODULES
------------------
*/

	.icon li,
	h1.icon {
		list-style: none;
		background-repeat: no-repeat;
		background-position: center left;
	}

		.icon li {
			padding-left: 23px;
		}

		h1.icon {
			padding-left: 40px;
		}

		.email {
			background-image: url('images/email.png');
		}

		.phone {
			background-image: url('images/phone.png');
		}

		.search {
			background-image: url('images/search.png');
		}

		.information {
			background-image: url('images/information.png');
		}

		.map {
			background-image: url('images/map.png');
		}

		.twitter {
			background-image: url('images/twitter.png');
		}

		.facebook {
			background-image: url('images/facebook.png');
		}

		.social {
			background-image: url('images/social.png');
		}

		.calendar {
			background-image: url('images/calendar.png');
		}

		.pc {
			background-image: url('images/pc.png');
		}

		.community {
			background-image: url('images/community.png');
		}

	.box {
		padding: 0.7em 0;
		border-top: 1px solid #CFCFCF;
	}

		.box h1 {
			font-size: 1.1667em;
			margin-bottom: 0.55em;
			padding: 0.35em 0 0.35em 40px;
			line-height: 1.2em;
			text-align: left;
		}

		.box p,
		.box ul {
			margin-bottom: 0.7em;
		}

			.box li {
				padding-bottom: 0.1875em;
				margin-left: 1.25em;
			}

		.box form,
		.callout {
			padding: 0.7em 1.4em;
			border: 1px solid #F1F1F1;
			background-color: #EFEFEF;
			font-size: 1.16667em;
		}

		.callout {
			padding: 1.4em;
		}

			.callout p {
				margin-bottom: 0;
				text-shadow: 1px 1px 1px #FFF;
			}

			.callout img {
				box-shadow: 0.35em 0.35em 0.35em #CFCFCF;
				border: 1px solid transparent;
			}

				.callout img:hover {
					border: 1px solid #FFF;
				}

			.box input {
				font-family: 'Source Sans Pro', calibri, sans-serif;
			}

			.box form img {
				vertical-align: middle;
			}

	.box-sub {
		padding: 0 0 1.4em 0;
	}

		.box-sub h1 {
			font-size: 0.83333em;
			line-height: 1.2em;
			margin-bottom: 0.35em;
			padding: 0;
			color: #888;
		}

		.box-sub li {
				padding-bottom: 0.1875em;
				margin-left: 1.25em;
			}

	.hidden {
		display: none !important;
	}

	.search-form {
		font-size: 0.8333em;
		margin-bottom: 1.4em;
	}

		.search-form input,
		.search-form label {
			text-align: left;
		}

	.db {
		display: block;
	}

	.nlp {
		padding-left: 0 !important; /*This is why I now use Tachyons */
		}


} /* End main media query */


@media screen and (min-width: 1020px) {

/*
4.	WIDE BASE
------------------
*/

	html {
		border-top: 0.7em solid #642D91;
		background-color: #F1F1F1;
	}

	body {
		margin: 0;
		padding: 0;
		font-size: 118.5%;
		max-width: 100%;
		background-color: #F1F1F1;
	}


/*
5.	WIDE LAYOUT
---------------
*/

	.wrapper {
		padding: 0 2.8em;
		margin: 0 auto;
		background-color: #FFF;
		max-width: 1200px;
	}

	.wrapper:before,
	.wrapper:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.wrapper:after {
	    clear: both;
	}

	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.wrapper {
	    *zoom: 1;
	}

	.site-header {
		padding-top: 0;
	}

	.g-w-row {
		clear: both;
	}

	.g-w-row:after,
	.callout:after  {
		content: "";
		display: table;
		clear: both;
	}

	.g-w-left {
		float: left;
		margin-right: 5%;
	}

	.g-w-right {
		float: right;
		margin-left: 5%;
	}

	.g-w-last {
		margin: auto 0;
	}

	.g-w-col1 {
		width: 30%;
	}

	.g-w-col2 {
		width: 65%;
	}

	.g-w-col3 {
		width: 100%;
	}

	.g-w-split3 {
		-moz-column-count: 3;
		-moz-column-gap: 5%;
		-webkit-column-count: 3;
		-webkit-column-gap: 5%;
		column-count: 3;
		column-gap: 5%;
	}



/*
6.	WIDE MODULES
---------------
*/

	.box {
		margin-bottom: 1.4em;
		padding: 1.4em 0 0 0;
		border-top: none;
	}

		.box > h1 {
			border-bottom: 1px dotted #333;
			padding-bottom: 0.7em;
		}

		.box form label {
			font-size: 0.75em;
		}

	.site-header {
		background-image: url('images/bury-wide.jpg');
		background-repeat: no-repeat;
		height: 146px;
		margin-bottom: 0;
		font-size: 0.83333em;
	}

		.site-header h1 {
			padding: 0.35em 0.7em;
			color: #333;
			background-color: #EFEFEF;
			opacity: 0.9;
		}

		.site-header ul {
			text-align: right;
			background-color: #EFEFEF;
			color: #333;
			opacity: 0.9;
			padding: 0.35em 0.7em;
		}

			.site-header ul li {
				display: inline;
				margin-left: 1.4em;
			}

				.site-header ul li a {
					color: #333;
				}

	.float-left {
		float: left;
		margin-right: 0.75em;
	}


} /* End widescreen query */


/*
7. PURE FORM STYLES
-------------------
*/

/*!
Pure v0.3.0
Copyright 2013 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;font-size:.8em;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-transition:.3s linear border;-moz-transition:.3s linear border;-ms-transition:.3s linear border;-o-transition:.3s linear border;transition:.3s linear border;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pure-form input[type=text]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form select:focus,.pure-form textarea:focus{outline:0;outline:thin dotted \9;border-color:#129FEA}.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{outline:thin dotted #333;outline:1px auto #129FEA}.pure-form .pure-checkbox,.pure-form .pure-radio{margin:.5em 0;display:block}.pure-form input[type=text][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{background:#eee;color:#777;border-color:#ccc}.pure-form input:focus:invalid,.pure-form textarea:focus:invalid,.pure-form select:focus:invalid{color:#b94a48;border:1px solid #ee5f5b}.pure-form input:focus:invalid:focus,.pure-form textarea:focus:invalid:focus,.pure-form select:focus:invalid:focus{border-color:#e9322d}.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{outline-color:#e9322d}.pure-form select{border:1px solid #ccc;background-color:#fff}.pure-form select[multiple]{height:auto}.pure-form label{margin:.5em 0 .2em;font-size:90%}.pure-form fieldset{margin:0;padding:.35em 0 .75em;border:0}.pure-form legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;font-size:125%;color:#333;border-bottom:1px solid #e5e5e5}.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea{display:block;margin:.25em 0}.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}.pure-form-aligned .pure-control-group{margin-bottom:.5em}.pure-form-aligned .pure-control-group label{text-align:right;display:inline-block;vertical-align:middle;width:10em;margin:0 1em 0 0}.pure-form-aligned .pure-controls{margin:1.5em 0 0 10em}.pure-form input.pure-input-rounded,.pure-form .pure-input-rounded{border-radius:2em;padding:.5em 1em}.pure-form .pure-group fieldset{margin-bottom:10px}.pure-form .pure-group input{display:block;padding:10px;margin:0;border-radius:0;position:relative;top:-1px}.pure-form .pure-group input:focus{z-index:2}.pure-form .pure-group input:first-child{top:1px;border-radius:4px 4px 0 0}.pure-form .pure-group input:last-child{top:-2px;border-radius:0 0 4px 4px}.pure-form .pure-group button{margin:.35em 0}.pure-form .pure-input-1{width:100%}.pure-form .pure-input-2-3{width:66%}.pure-form .pure-input-1-2{width:50%}.pure-form .pure-input-1-3{width:33%}.pure-form .pure-input-1-4{width:25%}.pure-form .pure-help-inline,.pure-form-message-inline{display:inline-block;padding-left:.3em;color:#666;vertical-align:middle;font-size:90%}.pure-form-message{display:block;color:#666;font-size:90%}/*!
Pure v0.3.0
Copyright 2013 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-button{display:inline-block;*display:inline;zoom:1;line-height:normal;white-space:nowrap;vertical-align:baseline;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button{font-size:100%;*font-size:90%;*overflow:visible;padding:.5em 1.5em;color:#444;color:rgba(0,0,0,.8);*color:#444;border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px;-webkit-transition:.1s linear -webkit-box-shadow;-moz-transition:.1s linear -moz-box-shadow;-ms-transition:.1s linear box-shadow;-o-transition:.1s linear box-shadow;transition:.1s linear box-shadow}.pure-button-hover,.pure-button:hover,.pure-button:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}.pure-button:focus{outline:0}.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}.pure-button-hidden{display:none}.pure-button::-moz-focus-inner{padding:0;border:0}.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}
